{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img class='img-fluid' src="https://scontent.fslc3-1.fna.fbcdn.net/v/t39.30808-6/301418517_8706119319413444_3466495303080094569_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=rODiLy8wMokAX_oI3oE&_nc_ht=scontent.fslc3-1.fna&oh=00_AT82ZtbBPSdzetxNeWChuF1FTB-5zump0terKmyWV5o8fg&oe=63343BE5">
        <p>Hello, and welcome to my blog. If you've stumbled upon this website(web application), then you may have
          noticed that this isn't really a blog. This is one of the few web applications I've developed in my journey
          as programmer and web developer. Feel free to take a look around.</p>
        <p>If you'd like to know more about me, then read on. I graduated from the University of Utah in International
          Studies with an emphasis in international business. I'm a self-taught programmer and web developer. I
          primarily work in C/C++ and Python. I occasionally utilize Flask and REACT on my personal projects. </p>
        <p>Some of my other hobbies include weightlifting, cooking, music production & performance, and studying foreign
          languages. Here's a fun fact about me if you've read this far: I enjoy going to the gym because simply
          because I like the atmosphere. As a matter of fact, I attribute my aptitude for coding (and learning)
          to the discipline I developed from my fitness routine!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}